
c++ and json practice/main.exe
*.exe
cs 322 operating systems/Lab Assignment 5 - Disk Scheduling/Jarmon_lab5_disk_sch
*.docx
cs 322 operating systems/Lab Assignment 2 - Batch Process Scheduling/bigboiiii_lab2_scuffed.c
